html, body {
	overflow:hidden;
	height:100%;
	}
	
      #map {
        width:100%;
	height:100%;
	position:absolute;
	left:0;	
        }
        
      #map-wrapper {
    	width: 100%;
    	height: 100%;
    	position: relative;
	}
	
      #button-wrapper {
    	position: relative;
    	float: right;
	}
	
      .leaflet-control-layers-toggle:after{ 
	content:"Layerswitcher"; 
	color:#000 ;
      	
      }
	
      .leaflet-control-layers-toggle{ 
	width:auto;
	background-position:3px 50% ;
	padding:3px;
	padding-left:36px;
	text-decoration:none;
        line-height:36px;
      	
      }
	
/*
      .legend {
        line-height: 18px;
        color: #555;
      	
      }
      
      .legend i {
	 width: 18px;
	 height: 18px;
	 float: left;
	 margin-right: 8px;
	 opacity: 0.7;
      }
*/
      
      .btn {
	  margin:3px;
	} 
	
      .btn-round { 
	font-weight: bold;
	width: 19px;
	height: 19px;
	text-align: center;
	padding: 1px 0;
	font-size: 13px;
	line-height: 0.1;
	border-radius: 30px;
	}
      
      .sidebar {
	position:absolute;
	top:0; right:0; width:250px;
 	bottom:0;
	overflow-x:auto;
	background-color: white;
	margin:0;
	padding:5px;
	font-size:15px;
	border-radius:10px;
	text-align:center;
	z-index:80;
	}
      
      
      
